<main>
  {{#if error}}
  <div class='errorDiv'>
  <p>{{error}}</p>
  <p>{{msg}}</p>
  </div>
  {{/if}}

  <div id='dashboardDiv'>
  <h1 id='dashH1'>Browse Games</h1>
  <hr>
  <br>
    <br>

  <div class='gamesInfo'>

  {{#each game}}
  <div class='singleGame'>
    <a href='/games/{{this._id}}' class='gameLine'>
      <img alt= '{{this.name}}' src='{{this.artwork}}' class='gameName'/>
    </a>
  </div>
  {{/each}}
</div>
</main>
