<main>
<div id="gameDiv">
<h1 id="gameName">{{name}}</h1>

<br>
<hr>
<br>
<dl>
  <div class='GameInfo'>
<dd>{{artwork}}</dd>
  <dt>Genre:</dt>
  <dd>{{genre}}</dd>
  <dt>Platforms:</dt>
  <dd>{{{platforms}}}</dd>
  <dt>Description:</dt>
  <dd>{{{Description}}}</dd>
  </div>
  
</dl>
</div>
</main>