<main>

<div id="gameDiv">
<h1 id="gameName">{{game.name}}</h1>

{{#if status}}
{{#if favoriteStatus}}
  <div>
  <form action='/profile/favorite' method='POST'>
    <button type='submit' id='favButton'>Unfavorite</button>
  </form>
</div> {{else}}
<form action='/profile/favorite' method='POST'>
  <input type='text' id='favStatus' name='favStatus' value='{{favoriteStatus}}' hidden/>
  <input type='text' id='gameId' name='gameId' value='{{game._id}}' hidden/>
  <button type='submit' id='favButton'>Favorite</button>
</form>
{{/iff}}
{{else}}
<div></div>
{{/if}}

<br>
<hr>
<br>
<dl>
  <div class='GameInfo'>


  <img src='{{game.artwork}}' class='gameArt'></img>
  <br>
  <br>
  <dt>Genre:</dt>
  <ul>
  {{#each game.genre}}
  <li>{{this}}</li>
  {{/each}}
  </ul>
  <br>
  <dt>Platforms:</dt>
  <ul>
  {{#each game.platforms}}
  <li>{{this}}</li>
  {{/each}}
  </ul>
  <br>
  <dt>Description:</dt>
  <dd>{{{game.description}}}</dd>
  </div>

</dl>
</div>
</main>
