<main>
<div id="profileDiv">
<h1 id="profileName">{{gamingUser}}</h1>
<form action='/profile/edit'>
<button type='submit' id="profileEdit">Edit Profile</button>
</form>
<br>
<hr>
<br>
<dl>
  <div class='profileInfo'>
  <dt>Bio:</dt>
  <dd>{{bio}}</dd>
  </div>
  <br>
  <div class='profileInfo'>
  <dt>Favorite Games:</dt>
  <dd>{{favoritedGames}}</dd>
  </div>
  <br>
  <div class='profileInfo'>
  <dt>Reviews:</dt>
  {{#each reviews}}
  <dd>
    <a href='/reviews/{{this._id}}' class='reviewLinks'>
      <p>{{this.title}}</p>
    </a>
  </dd>
  {{/each}}
  </div>
</dl>
</div>
</main>
