<main>


  <div>
  <form action='/reviews/create' method='GET'>
    <button type='submit' id='createButton'>Create Review</button>
  </form>
  </div>

  <!-- FILTER -->
  <div class='filter'>
    <form class='reviewFilter' method="GET">
      <h2>Filter By:</h2>
      <div>
      <label for='dateFilter'>Date
      <input type='checkbox' class='dateFilter'/>
      </label>
      </div>
      <div>
      <label for='userFilter'>Username
      <input type='checkbox' class='userFilter'/>
      </label>
      </div>
      <button type='submit' class='filterButton'>Filter</button>
    </form>
  </div>

  <!-- ALL REVIEWS -->
  <div class='reviewBody'>
    <h1>Reviews</h1>
    <hr>
    {{#each review}}
      <a href='/trending'>
        <h2>{{this.title}}</h2>
        <p>By: {{this.user}}</p>
        <p>Game: {{this.gameName}}</p>
        <br>
        <p>{{this.postContent}}</p>
        <br>
        <p>{{this.datePublished}}</p>
        <!-- <button onclick='' id='likeButton'>Like</button><button onclick='' id='dislikeButton'>Dislike</button> -->
        <hr>
      </a>
    {{/each}}
  </div>

</main>
