<main>
  <div id='reviewSingle'>
    <h1>{{review.user}}</h1>
    <h2>{{review.gameName}}</h2>
    <hr>

    <h2>"{{review.title}}"</h2>
    <br>
    <p>{{review.postContent}}</p>
    <br>
    <p>Date Posted: {{review.datePublished}}</p>
    <!-- Single review content goes here -->


    <div id='commentDiv'>
      <h1>Comments</h1>
      <hr>
      {{#if status}}
      <form id='commentForm' method="POST">
        <input type='text' id='newComment' placeholder=' New Comment'/>
        <button type='submit' id='commentSubmit'>Post</button>
      </form>
      {{/if}}
      
      <!-- Comment content goes here -->

    </div>
  </div>
</main>
