<main>
  <div id='reviewSingle' data-user= {{review.user}} data-review= {{review._id}}>
    <h1>{{review.user}}</h1>
    <h2>{{review.gameName}}</h2>
    <hr>

    <h2>"{{review.title}}"</h2>
    <br>
    <p>{{review.postContent}}</p>
    <br>
    <p>Date Posted: {{review.datePublished}}</p>
    <!-- Single review content goes here -->
    <br>
    {{#if status}}
    {{#if likeStatus}}
    <div>
      <p id= 'result'>{{review.likes}}</p>
       <span><a class="like-Unlike" data-review= {{review._id}} href="">Unlike</a></span>
      <!-- <p id= 'result'>{{review.likes}}</p> -->
    </div>
    {{else}}
    <div>
      <p id = "result">{{review.likes}}</p>
       <span><a class="like-Unlike" data-review= {{review._id}} href="">Like</a></span>
      <!-- <p id = "result">{{review.likes}}</p> -->
    </div>
    {{/if}}
    <div id='commentDiv'>
      <h1>Comments</h1>
      <hr>
      <form id='commentForm' action='/reviews/comment' method="POST">
        <input type='text' id='newComment' name='newComment' placeholder=' New Comment'/>
        <input type='text' id='reviewID' name='reviewId' value='{{review._id}}' hidden/>
        <button type='submit' id='commentSubmit'>Post</button>
      </form>
      <p>{{error}}</p>
      <p class='error'>{{msg}}</p>
      <hr>
      {{#each review.comments}}
      <p>{{this.commentUsername.gamingUser}}: {{this.commentContent}}</p>
      <p>{{this.dateCreated}}</p>
      <hr>
      {{/each}}</div>
      {{else}}


      <!-- Comment content goes here -->
      <div id = 'commentDivNotLoggedIn'>
        <h1>Comments</h1>
        <hr>
        {{#each review.comments}}
        <p>{{this.commentUsername.gamingUser}}: {{this.commentContent}}</p>
        <p>{{this.dateCreated}}</p>
        <hr>
        {{/each}}
      </div>
      {{/if}}
    </div>
  </div>
</main>
