<main>

{{#if status}}
  <div>
  <form action='/reviews/create' method='GET'>
    <button type='submit' id='createButton'>Create Review</button>
  </form>
</div> {{else}}
<div></div>
{{/if}}

  <!-- ALL REVIEWS -->
  <div class='reviewBody'>
    <h1>Reviews</h1>
    <hr>
    {{#each review}}
      <a href='/reviews/{{this._id}}'>
        <h2>{{this.title}}</h2>
        <p>By: {{this.user}}</p>
        <p>Game: {{this.gameName}}</p>
        <br>
        <p>{{this.postContent}}</p>
        <br>
        <p>{{this.datePublished}}</p>
        <hr>
      </a>
    {{/each}}
  </div>

</main>
