<main>
<div id='resultsDiv'>
  <h1>Results</h1>
  <hr>
  <br>
  <div class='reviewLinks'>
  {{#each resultsUsers}}
        <h2>{{this.userName}}</h2>
  {{/each}}
  {{#each resultsGames}}
    <a href='/games/{{this._id}}' class='reviewLinks'>
        <h2>{{this.name}}</h2>
      </a>
  {{/each}}
  {{#each resultsPlatforms}}
    <a href='/games/{{this._id}}' class='reviewLinks'>
        <h2>{{this.name}}</h2>
      </a>
  {{/each}}
  </div>
</div>
</main>
