<main>
<div id="trendingDiv">
<h1 id="trendingName">Top Trending Reviews</h1>

<br>
<hr>
<dl>
  <div class='TrendingInfo'>
  {{#each top}}
    <h2>{{this.title}}</h2>
    <p>By: {{this.user}}</p>
    <br>
    <p>{{this.gameName}}</p>
    <p>{{this.postContent}}</p>
    <p>{{this.datePublished}}</p>
    <hr>
  {{/each}}
  </div>

</dl>
</div>
</main>
